@import "./helpers/vars";
@import "./helpers/util";



.c-aboutUs {
    .c-aboutUs-wrapper {
        min-height: 492px;
        background-color: white;
        padding: 25px 90px;
        border-radius: 20px;
        @media(max-width:991px) {
            border-radius:0;
            padding-left: 74px;
            padding-right: 74px;
        }
        @media (max-width:768px) {
            padding-left:15px;
            padding-right:15px;
        }
        h1 {
            text-align: center;
            font-size: 32px;
            color:#cdcdcd;
        }

        .row {
            display: flex;
            p {
                width:50%;
                padding: 10px 20px;
                font-size:16px;
                color: #94979b;
                
            }
            @media(max-width:991px) {
                display:block;
                p {
                    width:100%;
                    padding:0;
                }
                
            }
            .contact-button {
                width: 100%;
                text-align: center;
                padding: 65px 0;

                span {
                    font-size:32px;
                }
                
                a {
                    padding: 15px 40px;
                    background-color: $color-primary;
                    border-radius: 30px;
                    box-shadow: 0 2px 5px 0 rgba(223, 223, 223, 0.5);
                    border:none;
                    color: $white;
                    font-size: 16px;
                    margin-left: 15px;
                    text-decoration: none;
                }
            }
        }
    }
}