@import "./helpers/vars";
@import "./helpers/util";

.c-allGames {
    background-color: #fff;
    border-radius: 30px;
    // overflow:hidden;
    padding: 22px 0px 40px;
    @media(max-width:991px) {
        border-radius:0;
    }
    .c-gamelist{
        position: relative;
        .randomGame {
            position: absolute;
            background-image: url("../images/random.png");
            top: 16%;
            right:-14%;
            width:100px;
            height: 100px;
            background-repeat: no-repeat;
            background-size: cover;
            z-index:2;
            cursor: pointer;
        }
    }
    .main-latest-game-select {
        width: 60%;
        margin:0 auto;
    }
}
.c-allGames-list {
    padding:20px 90px;

    .sport-games-title {
        margin-top: 35px;
        margin-bottom: 22px;
    }
}