@import "./helpers/vars";
@import "./helpers/util";

.c-contactUs-wrapper {
    .flexbox {
        @media (max-width:510px) {
            display: block;
        }
    }
    min-height: 492px;
    background-color: white;
    padding: 25px 126px 99px 126px;
    border-radius: 20px;
    @media(max-width:991px) {
        border-radius:0;
        padding-left: 74px;
        padding-right: 74px;
    }
    @media (max-width:768px) {
        padding-left:15px;
        padding-right:15px;
    }

    h1 {
        text-align: center;
        font-size: 32px;
        color:#cdcdcd;
        margin-bottom: 73px;
    }
    .title-big {
        font-size:45px;
        margin-bottom: 23px;
        display: inline-block;
        @media (max-width:991px) {
            font-size:32px;
        }
        @media (max-width:510px) {
            text-align: center;
        }
    }
    .contact-info {
        width: 42%;
        @media (max-width:510px) {
            width: 100%;
        }

        .text-strong {
            padding-right: 80px;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0px;
        }

        .text-light {
            color: #94979b;
            font-size: 18px;
        }

        .flexbox {
            @media (max-width:991px) {
                display: block;
            }
        }
    }

    .write-us {
        width: 58%;
        padding: 0px 0px 0px 60px;
        @media (max-width:510px) {
            width: 100%;
            padding: 0;
        }

        form {
            text-align: right;

            input {
                border: 1px solid #d8d8d8;
                &::placeholder {
                    color: #d8d8d8;
                }
                &:focus {
                    outline: none;
                }
            }

            textarea {
                width: 100%;
                height: 130px;
                border: 1px solid #d8d8d8;
                &::placeholder {
                    color: #d8d8d8;
                }
                &:focus {
                    outline: none;
                }
            }

            button {
                border:none;
                margin-top: 5px;
                &:focus {
                    outline: none;
                }
            }

            .input-name {
                width: 50%;
                padding: 16px 26px;
                border-radius: 20px 0px 0px 20px;
                @media (max-width:991px) {
                    width: 100%;
                    border-radius: 20px;
                    margin-bottom: 10px;
                }
            }

            .input-email {
                width: 49%;
                padding: 16px 26px;
                border-radius: 0px 20px 20px 0px;
                @media (max-width:991px) {
                    width: 100%;
                    border-radius: 20px;
                }
            }

            .input-textarea {
                margin-top: 10px;
                border-radius: 20px;
                padding: 7px 26px;
            }
        }
    }
}