@import "./helpers/vars";
@import "./helpers/util";

.c-error {
    .game-menubar {
        height: 188px;
    }

    .c-error-wrapper {
        min-height: 492px;
        background-color: white;
        padding: 25px 90px;
        border-radius: 20px;
        text-align: center;
        @media(max-width:991px) {
            border-radius:0;
            padding-left: 74px;
            padding-right: 74px;
        }
        @media (max-width:768px) {
            padding-left:15px;
            padding-right:15px;
        }

        h1 {
            text-align: center;
            font-size: 38px;
            color:$color-primary;
        }

        p {
            color: #cdcdcd;
            font-size: 40px;
            text-align: center;
        }

        img {
            width: 50%;
        }
    }
}