@import "./helpers/vars";
@import "./helpers/util";

.c-gamePage {
    background-color: #fff;
    border-radius: 30px;
    // overflow:hidden;
    padding: 30px 0px 40px;
    @media(max-width:991px) {
        border-radius:0;
    }
    .main-latest-game-select {
        width: 60%;
        margin:0 auto;
    }

    .c-gamePage-wallpaper {
        width: 100%;
    }

    .c-gamePage-article-header  {
        padding-top: 19px;
        margin-bottom: 0px; 
        p {
            margin-bottom: 0px;
        }
        @media (max-width: 768px) {
            flex-wrap:wrap;
            > div {
                width:100%;
            }
        }
    }
    h1 {
        margin-top: 6px;
    }

    .c-gamePage-content {
        padding-top: 25px;
        font-size: 16px;
        display: flex;
        
        p {
            width: 50%;
            padding-right: 70px;
        }
        @media(max-width: 768px) {
            display:block;
            p {
                padding:0;
            width:100%;
            }
        }
    }

    .playButton-logo {
        margin-top: 28px;
        margin-bottom: 10px;
    }

    .playButton-text {
        margin-bottom: 32px;
    }

    .gamePage-logo {
        @media(max-width:768px) {
            margin-bottom: 10px;
        }
        img {
            width:100%;
        }
    }
}

.game-category {
    background: $white;
    margin-top: 20px;
    border-radius: 30px;
    padding-bottom: 28px;

    h2 {
        margin-top: 36px;
        margin-bottom: 20px;
    }

    .c-game-category-logo {
        img {
            width: 180px;
        }
    }
}
