// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
@import "./helpers/vars";
@import "./helpers/util";

ul,li {
    list-style-type: none;
}
a,a:hover, a:focus {
    text-decoration: none;
}

body {
    font-family: Ubuntu;
}
// header strat
.c-header {
    &-wrapper {
        padding: 40px 0 25px 0;
        // background-color: $white;
        // height: 500px;
        border-radius: $br-prim;
        @media(max-width:991px) {
            padding-bottom:0;
        }

        .bg-cloud {
            background-image: url("../images/cloud.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 188px;
            position: relative;
            @media (max-width:1200px) {
                position:relative;
                background-position:bottom;
            }

            .bg-sponge {
                background-image: url("../images/sponge.png");
                background-repeat: no-repeat;
                background-size: cover;
                height:125px;
                width: 307px;
                position: absolute;
                bottom: 2px;
                left: 455px;
                @media(max-width:1200px) {
                    left:50%;
                    transform:translateX(-50%);
                    height: 97px;
                    width: 238px;
                }
            }
        }
    }

    .c-mainSearch {
        height: 116px;
        background-color: $white;
        border-bottom-right-radius: $br-prim;
        border-bottom-left-radius: $br-prim;
    }

    .c-mainSearch-inputGroup {
        position:relative;
        text-align: center;
        background-color: $white;
        padding-top: 38px;

        @media(max-width:1200px) {
            width:600px;
            margin: 0 auto;
        }
        @media(max-width:768px) {
            width: 90%;
        }

        .c-mainSearch-input {
            width: 600px;
            height: 56px;
            border: 4px solid #d3e5e7;
            border-radius: 30px;
            font-size: 18px;
            text-align: left;
            color: #9b9b9b;
            padding: 0 55px 0 25px;
            &:focus{
                outline: none;
            }

            &::placeholder {
                color: #9b9b9b;
            }
            @media(max-width:768px) {
                width: 90%;
            }
        }

        .c-mainSearch-button {
            position: absolute;
            top: 45px;
            right: 309px;
            border-radius: 100%;
            border: none;
            width: 41px;
            height: 41px;
            background: $color-primary;
            color: white;
            box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.5);
            @media(max-width:1200px) {
                right: 10px;
            }
            @media(max-width:768px) {
                right: 7%;
            }
            &:focus {
                outline:none;
            }
        }
    }
    @media (max-width:991px) {
        .c-mainSearch {
            border-radius:0;
        }
    }
}
// header end

// footer start
.c-footer {
    margin-top: 174px;
    .c-footer-content {
        width: 100%;
        min-height: 550px;
        background-image: url("../images/footer.png");
        background-size: cover;
        background-repeat: no-repeat;

        .c-footer-content-wrapper {
            margin-top: 175px;
            text-align: center;

            .c-footer-content-item {
                font-size: 28px;
                color:$white;
            }

            .c-footer-content-form {
                margin-top: 10px;
                .c-footer-content-input {
                    width: 245px;
                    height: 48px;
                    border: solid 1px #3cb6b8;
                    border-radius: 40px;
                    padding: 0 20px;
                    color:#9b9b9b;
                    font-size:18px;
                    @media(max-width:400px) {
                        margin-bottom: 10px;
                    }

                    &::placeholder {
                        color:#9b9b9b;
                    }

                    &:focus {
                        outline:none;
                    }
                }

                .c-footer-content-button {
                    width: 117px;
                    height: 48px;
                    background-color: $color-primary;
                    border:none;
                    color: $white;
                    border-radius: 40px;
                    font-size: 16px;

                    &:focus {
                        outline:none;
                    }
                }
            }
        }
    }

    .c-footer-nav {
        background-color: #4a4a4a;
        color:$white;
        height: 77px;

        .c-footer-nav-wrapper {
            display: flex;
            div {
                width: 50%;
            }

            .footer-logo-container {
                display: flex;

                .footer-sponge-logo {
                    width: 58px;
                    height: 68px;
                    background-image: url("../images/spongehomefooter.png");
                    background-size: 78%;
                    margin: 7px 0 0 0;
                    background-repeat: no-repeat;
    
                }

                .copyright-text {
                    padding-top: 18px;
                    font-size: 14px;
                    padding-left: 15px;
                    @media(max-width:768px) {
                        padding-top: 8px;
                        font-size: 12px;
                        padding-left: 0px;
                    }
                    @media(max-width:420px) {
                        font-size: 10px;
                    }
                }

                p {
                    margin: 0;
                }
            }

            .footer-navList-container {
                ul {
                    list-style: none;
                    text-align: right;
                    @media(max-width:500px) {
                        padding-left: 0px;
                    }
                    li {
                        display: inline-block;
                        width: 52px;
                        margin-right:35px;
                        text-align: center;
                        padding-top: 27px;
                        @media(max-width:768px) {
                            margin-right: 15px;
                            font-size: 13px;
                        }
                        @media(max-width:420px) {
                            font-size: 10px;
                            margin-right: -2px;
                        }
                        a {
                            text-decoration: none;
                            color:$white;
                        } 
                    }
                }
            }
        }
    }
}
// footer end

// game menubar start
.game-menubar {
    height: 100px;
    background: $white;
    border-bottom-right-radius: $br-prim;
    border-bottom-left-radius: $br-prim;
    overflow:hidden;
    @media (max-width: 1200px) {
        
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        li {
            display: inline-block;
            width: 172px;
            text-align: center;
            padding-top: 9px;
            vertical-align: top;
            height: 100px;
            font-size: 14px;
            color: #9b9b9b;
            border-right: 1px solid #e3e6e9;
            &:last-child {
                border-right: none;
            }
            &:hover {
                cursor: pointer;
                border-bottom: 2px solid $color-primary;
            }
            div {
                height: 67px;
            }
            img {
                width: 33%;
            }
            
            span {
                display: block;
            }
        }
    }
    &--rounded {
        ul {
        @media(max-width:1200px) {
            justify-content: center;
            flex-wrap: wrap;
        }
            li {
                border: 0;
                height: auto;
                &:hover {
                    border:none;
                }
                div {
                    width: 140px;
                    height: 140px;
                    border-radius: 80px;
                    margin: 0 auto 8px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 1px 9px 0 #d8dde3;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 50%;
                }
            }
        }
    }
}
.game-menubar.game-menubar--rounded {
    height:auto;
    
}
// game menubar end

.c-gamelist {
    &-logo {
        border-radius: 30px;
        overflow: hidden;
        img {
            width:180px;
            @media (max-width:1200px) {
                width: 155px;
            }
            @media (max-width: 768px) {
                width:100%;
            }
        }
    }
    
    a {
        display:block;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    .row > .col-md-3 {
        text-align:center;
    }
}

.c-pagination {
    text-align: center;
    padding-top: 85px;
    .pagination {
        li:first-child,li:last-child {
            a {
                color:black;
                border: solid 1px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
            }
        }
        li {
            a {
                border: 0;
                color:black;
                float:none;
                &:hover,&:focus {
                    background-color:transparent;
                }
            }
            
        }
        .active {
            a {
                background-color:$color-primary;
                color:white;
                border-radius:50%;
                padding:5px 9px;
                &:hover,&:focus {
                    background-color:$color-primary;
                }
            }
        }
    }
}

.playButton {
    .playButton-logo {
        width: 119.9px;
        height: 119.9px;
        margin:0 auto;
        background-image: url(../images/playbutton.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    .playButton-text {
        text-align: center;
        font-size: 32px;
        color: #eb5331;
    }
}

.comment-section {
    padding:0 20px;
    margin-top:70px;
}