@import "./helpers/vars";
@import "./helpers/util";



.c-homeContent {
    background:#fff;
    padding:0 88px;
    position: relative;
}

.c-carousel {
    padding: 32px 0;
    margin:0 -88px;
    position: relative;
    overflow:hidden;
    .owl-carousel .owl-stage-outer {
        overflow:visible;
    }

    .owl-theme .owl-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        display: flex;
        transform: translate(-50%, -50%);
        justify-content: space-between;

        button.owl-prev,
        button.owl-next {
            width: 31.5px;
            height: 31.5px;
            background-color: #eb5331;
            color:white;
            border-radius:50%;
            font-size:14px;
            margin: 16px;
            &:focus {
                outline:0;
            }
            &:hover {
                background:#eb5331;
            }
        }
    }

    .playButton {
        position: absolute;
        background-image: url("../images/playbutton.png");
        bottom: -31px;
        width:120px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index:1;
        left:50%;
        transform:translateX(-50%);
        cursor: pointer;
    }
}

.c-populargames {
    
    .c-populargames-header {
        margin-top: 78px;
        margin-bottom: 20px;
        @media (max-width:991px) {
            flex-wrap: wrap;
        }
        .c-populargames-header-title {
            @media (max-width:991px) {
                margin-right: auto;
                margin-left:auto;
            }
        }

        .c-populargames-header-link {
            margin-left: 165px;
            margin-right: 20px;
            @media (max-width:991px) {
                margin-right:auto;
                margin-left:auto;
                width:100%;
                margin-top:20px;
            }
        } 
    }
}

.c-gamelist-link {
    text-align: center;
    padding: 30px 0px 70px 0px;
    a {
        color: white;
        width: 170px;
        display: inline-block;
    }
}

.c-latestGames {
    a {
        color: black;
        text-decoration: none;
    }
    
    @media(min-width:991px) {
        .main-latest-game-select {
            display:none;
            
        }
   }

    ul {
        list-style: none;
        padding: 43px 0px 28px 0px;
        text-align: center;
        @media(max-width:1200px) {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            a {
                display:block;
            }
            li {
                margin-top:5px;
            }
        }
        

        @media(max-width:991px) {
            display:none;
            .select2-search--dropdown {
                display:none;
            }   
        }
        
        li {
            display: inline-block;

            a {
                padding: 15px 30px;
                border-radius: 30px;
                border: 4px solid #d3e5e7;
                font-size: 18px;
                text-decoration: none;
                color:black;
                transition-duration: 0.25s;
                margin: 0px 1px;
                &:hover {
                    background-color: $color-primary;
                    color:$white;
                    border-color: $color-primary;
                }
            }

            .active {
                background-color: $color-primary;
                color:$white;
                border-color: $color-primary;
            }
        }
    }

    .c-latestGames-logo {
        img {
            width: 180px;
        }
    }

    .c-latestGames-button {
        padding:35px 0px 114px 0px;
        a {
            color:white;
            text-decoration: none;
        }
    }
}

.main-latest-game-select {
    text-align: center;
}
.select2-search--dropdown {
    display:none !important;
}
.select2-container {
    width:250px !important;
    @media(max-width:420px) {
        width:150px !important;
    }
}
.main-latest-game-select{
    padding: 20px 0;
}
.select2-container--default .select2-selection--single {
    border: 2px solid #d3e5e7;
    &:focus {
        outline: none;
    }
}