.c-terms-conditions {
    .c-terms-conditions-wrapper {
        min-height: 613px;
        background-color: white;
        padding: 25px 90px;
        border-radius: 20px;
        @media(max-width:992px) {
            border-radius:0;
            padding:25px 49px;
        }
        @media(max-width: 768px) {
            padding:25px 15px;
        }
        h1 {
            text-align: center;
            font-size: 32px;
            color:#cdcdcd;
        }

        .c-terms-conditions-title {
            padding: 10px 20px 3px 20px;
            font-size: 24px;
        }

        .row {
            display: flex;
            p {
                width:50%;
                padding: 10px 20px;
                font-size:16px;
                color: #94979b;
            }
            
            @media(max-width:768px) {
                display:block;
                p {
                    width:100%;
                }
            }
        }
    }
}