@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-ExtraBold.woff2') format('woff2'),
        url('../../fonts/FiraSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-LightItalic.woff2') format('woff2'),
        url('../../fonts/FiraSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-BlackItalic.woff2') format('woff2'),
        url('../../fonts/FiraSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Thin.woff2') format('woff2'),
        url('../../fonts/FiraSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-ThinItalic.woff2') format('woff2'),
        url('../../fonts/FiraSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../../fonts/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-BoldItalic.woff2') format('woff2'),
        url('../../fonts/FiraSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-SemiBold.woff2') format('woff2'),
        url('../../fonts/FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Regular.woff2') format('woff2'),
        url('../../fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Light.woff2') format('woff2'),
        url('../../fonts/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-ExtraLight.woff2') format('woff2'),
        url('../../fonts/FiraSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-SemiBoldItalic.woff2') format('woff2'),
        url('../../fonts/FiraSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../../fonts/FiraSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-ExtraLightItalic.woff2') format('woff2'),
        url('../../fonts/FiraSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Bold.woff2') format('woff2'),
        url('../../fonts/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Black.woff2') format('woff2'),
        url('../../fonts/FiraSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-Italic.woff2') format('woff2'),
        url('../../fonts/FiraSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../../fonts/FiraSans-MediumItalic.woff2') format('woff2'),
        url('../../fonts/FiraSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

// ---------- ubuntu



@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('../../fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../../fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-Light.woff2') format('woff2'),
        url('../../fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Ubuntu-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-Italic.woff2') format('woff2'),
        url('../../fonts/Ubuntu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../../fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
        url('../../fonts/Ubuntu-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-LightItalic.woff2') format('woff2'),
        url('../../fonts/Ubuntu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
