.centerize {
    text-align: center;
}
.mr-left-10 {
    margin-left: 10px;
}
.withoutBorderRadiusBottom {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.no-padding-bottom {
    padding-bottom: 0px !important;
}
.title {
    text-align: center;
    font-size: 32px;
    margin: 0;
    color: #cdcdcd;
}

.br-top {
    border-radius:30px 30px 0px 0px;
}

.br-bottom {
    border-radius:0px 0px 30px 30px;
}

.cbtn {
    color:white;
    border-radius: 30px;
    padding: 10px 46px;
    display:inline-block;
    &:hover {
        color:#fff;
        text-decoration: none;
    }
}

.cbtn-primary {
    background-color: #eb5331;
}



.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
}

.center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.last {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.flex-wrap:after,
.flex-wrap:before {
    width:0;
}
.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.align-right {
    margin-left: auto;
}

.align-left {
    margin-right: auto;
}

.align-top {
    margin-bottom: auto;
}

.align-bottom {
    margin-top: auto;
}

.gutter-140 {
    padding: 0 140px;
    @media (max-width:991px) {
        padding:0 74px;
    }
    @media(max-width: 768px) {
        padding:0 10px;
    }
}
.gutter-50 {
    padding: 0 50px;
}
.gutter-65 {
    padding: 0 65px; 
}
.gutter-90 {
    padding:0 90px;
    @media (max-width:768px) {
        padding:0 20px;
    }
}

.site-label {
  font-size: 16px;
  color: #eb5331;
}

.image-gutter-link {
    display: block;
    padding: 0 5px;
}