// [[ Bootstrap defaults.
$grid-gutter-width: 0;
$screen-xs: 320px;
$screen-sm:  768px;
$container-large-desktop: 1200px;
$grid-columns: 15;
// ]] Bootstrap defaults
$icon-font-path: '../fonts/';
$body-bg: #70d1e1;
$footer-bg: #4a4a4a;
$color-primary: #eb5331;
$br-prim: 20px;
$white: #fff;